* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(23, 32, 49);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 25vh;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.container input {
    width: 100%;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    padding: 8px;
    
}

.suggestions {
    max-width: 100%;
    border-top: 1px rgb(110, 110, 110) solid;
}
.suggestions div {
    font-family: sans-serif;
    font-size: 1.2em;
    padding: 8px;
    border-top: 1px rgb(189, 189, 189) solid;
    cursor: pointer;
}