* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    overflow: hidden;

    background-color: rgb(25, 32, 43);
}

.gameBoard {
    position: relative;
    height: 90vmin;
    width: 90vmin;

    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);

    background-color: rgb(32, 42, 58);
}


.snake {
    background-color: rgb(47, 149, 245);
}

.apple {
    background-color: rgb(231, 40, 26);
}